body {
  font-family: 'Exo', sans-serif;
  background-color: aliceblue;
  padding: 3%;
  color:rgb(164, 208, 89);
  background-image: linear-gradient(90deg, #00240e 0%, #09793f 35%, #00ff7b 100%);
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(31, 147, 48);
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}