body {
  font-family: 'Exo', sans-serif;
  background-color: aliceblue;
  padding: 3%;
  color:rgb(164, 208, 89);
  background-image: linear-gradient(90deg, #00240e 0%, #09793f 35%, #00ff7b 100%);
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(31, 147, 48);
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #09793f;
  color:aliceblue;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #00240e;
  
}

.todo {
  background-color: rgb(76, 165, 116);
  box-shadow: 0 0 10px rgba(0, 0, 0 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: #51965c;
}

.delete {
  background-color: #d6605c;
}

.edit {
  background-color: #69eaae97;
}

.todo-form{
  padding-bottom: 1.5rem;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #00240e;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #00ff7b53;
  border-radius: 3px;
  width: 100%;
}